
@model IEnumerable<MvcBookStore.Models.NHAXUATBAN>

<div>
    <p class="lead"> NHÀ XUẤT BẢN </p> <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-chude">
                <a href="@Url.Action("SPTheoNXB", "BookStore", new {id= item.MaNXB})" class="list-group-item">
                    @item.TenNXB
                </a>
            </div>
        }

    </div>
